<%- include("partials/header") -%>

<% blogs.forEach(function(blog) {%>
    <div style="margin-bottom: 50px;">
        <div style="width:90%;float:left;">
            <h2 > <%= blog.title %> </h2>
            <p> <%= blog.description %>  ....   
            <a href= <%= blog.url %> >More</a> </p> 
            <form action="/delete" method="POST" >
                <input type="submit" name="upvote" value="Delete" />
                <input style="visibility: hidden;" name = "articleId" value = <%= blog._id %> >
            </form>
        </div>
        <div style="width:10%;float:left;margin-top: 30px;">
            <img src=<%= blog.urlToImage %> alt="News" width="120" height="120">
        </div>
   </div>  
<% }); %>

<%- include("partials/footer") -%>